@keyframes animacao{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left:-200%}
    70%{margin-left:-200%}
    75%{margin-left:-300%}
    95%{margin-left:-300%}
    100%{margin-left:-400%}

}
img {
    width: 100%;
}

   .pag{ display: grid;
    grid-template-rows: 200px 280px 200px 1fr;
    grid-row-gap: 5px;
    background-image: url(logo\ site.png);
}
.loop{ align-items: center; width: 720px;
    height: 380px;
    overflow: hidden;
    margin-left: 400px;
    background-color: #6e706e;

}
.loop .fotos{
    width: 500%;
animation-name: animacao;
animation-duration: 20s;
animation-iteration-count: infinite;

}
.loop .fotos img{ width: 19.9%;

}

#todos{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 10px;


}
#todos button{  background-color: #6e706e; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
position:absolute; top: 375px;
   margin-left: 400px;  
   

    
}

.butao1 :hover{
    background-color: red;
    
}
.butao1 :hover{
     transition-duration: 1s;
}
.butao1 :hover{
   transform: scale(1.1);
}
.butao1{
    border-radius: 5px;width: 75px;height: 75px;
    

    
}
.butao2 :hover{
    background-color: red;
    
}
.butao2 :hover{
     transition-duration: 1s;
}
.butao2 :hover{
   transform: scale(1.1);
}

.butao2{    border-radius: 5px;width: 75px;height: 75px;
    

}
.butao3 :hover{
    background-color: red;
    
}
.butao3 :hover{
     transition-duration: 1s;
}
.butao3 :hover{
   transform: scale(1.1);
}
.butao3{   border-bottom: 5px;width: 75px;height: 75px;

}
.butao4 :hover{
    background-color: red;
    
}
.butao4 :hover{
     transition-duration: 1s;
}
.butao4 :hover{
   transform: scale(1.1);
}
.butao4{  border-radius: 5px;width: 75px;height: 75px;

}
.promo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
    
    
}
.promo1{
    display: flex;
    border: solid;color: rgb(26, 25, 24);background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 5px 5px 5px 10px;
    
   
}
.promo2{
    display: flex;
    border: solid;color: rgb(26, 25, 24);background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 5px 5px 5px 5px;
    
}
.promo3{
    display: flex;
    border: solid;color: rgb(26, 25, 24);background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 5px 5px 5px 10px;
}
.ofertas{ display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-column-gap: 5px;

}
.ofertas{ display: flex;
    border: solid 2px;color: gold
   
}

.container {
    display: flex;
    margin-top: 170px;
    margin-bottom: 60px;
}
.container h1{
    font: size 20px;; color:#ffff;
    font-family: sans-serif;
}
